<h1>Tickets</h1>
<ul>
<% @tickets.each do |ticket| %>  
    <h3><%= link_to ticket.movie_name, ticket_path(ticket) %></h3>
    <li>Seat: <%= ticket.seat %></li>
    <li>Ticket tier: <%= ticket.tier %></li>
    <li>Price: $<%= ticket.price %></li>
<% end %>
</ul>